[submodule "flightsscrapper"]
	path = flightsscrapper
	url = git@github.com:orzocogorzo/flightsscrapper.git
[submodule "flights/scrapper"]
	path = flights/scrapper
	url = git@github.com:orzocogorzo/flightsscrapper.git
